<!-- tell django we wish to extend the base.html file -->
{% extends "gamershub/base.html" %}

<!-- Main Title for the page -->
{% block title %}Gamers Hub Blog{% endblock %}

<!-- The main content we wish to inject -->
{% block content %}
    <!-- The main content of the body -->
    <div id="content">
        <h1>Gamers Hub Blog</h1>
        <!-- Here we create a for block to loop through all the blog posts
            and return them by absolute URL and post title -->
        {% for post in  blog_posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.post_title }}
                </a>
            </h2>
            <!-- For a nice added touch we display the published date
                and post author -->
            <p class="date">
                Published {{ post.publish }} by {{ post.post_author }}
            </p>
            <!-- Here we wish to truncate the post content as it is a preview -->
            {{ post.post_body|truncatewords:30|linebreaks }}
        {% endfor %}
        <!-- End for block -->
        {% include "gamersblog/blogposts/blogpostpagination.html" with page=blog_posts %}
    </div>
{% endblock %}
<!-- Main content injection end -->

{% block sidebar %}
    <!-- Side bar content here-->
    <div id="sidebar">
        <h2>Gamers Hub Blog</h2>
        <p>Welcome to the Gamers Hub Blog!</p>
    </div>
{% endblock %}
