<!-- tell django we wish to extend the base.html file -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Main Title for the page -->
{% block title %}
    Gamers Hub Blog
{% endblock %}

<!-- The main content we wish to inject -->
{% block content %}
    <div id="blog-post-content">
        <!-- The main content of the body -->
        <h1>Gamers Hub Blog</h1>

        <!-- Here we create a for block to loop through all the blog posts and return them by absolute URL and post title -->
        {% for post in  blog_posts %}
            <div class="col-sm-4 col-md-4 col-lg-4 blog-post-container">

                <!-- add an image to the post preview for a nice touch -->
                <a href="{{ post.get_absolute_url }}">
                    {% if post.post_images %}
                        <img class="img-responsive" src="/media/{{ post.post_images.url }}">
                    {% else %}
                        <img class="img-responsive" src="http://via.placeholder.com/500x200" alt="blog-post-thumbs">
                    {% endif %}
                </a>

                <!-- For a nice added touch we display the published date and post author -->
                <p class="date">
                    Published {{ post.published_date }}
                </p>
                <p class="date">
                    by {{ post.post_author }} | Post Views {{ post.post_views }}
                </p>

                <hr>

                <div id="blog-post-title">
                    <h2>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.post_title }}
                        </a>
                    </h2>
                </div>

                <div id="blog-post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <!-- Here we wish to truncate the post content as it is a preview -->
                            <p>{{ post.post_body|truncatewords:50|linebreaks }}</p>
                        </a>
                </div>
            </div>
        {% endfor %}
        <!-- End for block -->

        <div class="col-md-12">
            {% include "gamersblog/blogposts/blogpostpagination.html" with page=blog_posts %}
        </div>
    </div>
{% endblock %}
<!-- Main content injection end -->
