<!-- tell django we want to extend base.html -->
{% extends "gamershub/base.html" %}

<!-- The main post tile -->
{% block title %}
    Add A New Blog Post
{% endblock %}

<!-- The main post content to be injected -->
{% block content %}
    {% load bootstrap_tags %}
<!-- The main content of the body -->
    <div class="col-md-12">
        <h1>Add A New Blog Post</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-default" type="submit" value="save">Save</button>
        </form>
    </div>
{% endblock %}
<!-- end block content injection -->
