<!-- tell django we want to extend base.html -->
{% extends "gamershub/base.html" %}
{% load bootstrap_tags %}

<!-- The main Page Title Begin -->
{% block title %}
    Add A New Blog Post
{% endblock %}
<!-- The main Page Title End -->

<!-- The main post content to be injected -->
{% block content %}
    <!-- Col-md-12 Begin -->
    <div class="col-md-12">

        <!-- Blog Post Form Heading Begin -->
        <h1>Add A New Blog Post</h1>
        <!-- Blog Post Form Heading End -->

        <!-- Form Fields Begin -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-warning btn-sm" type="submit" value="save">Save Post</button>
        </form>
        <!-- Form Fields End -->
    </div>
    <!-- Col-md-12 End -->
{% endblock %}
<!-- end block content injection -->
