<!-- tell django we want to extend base.html -->
{% extends "gamershub/base.html" %}

<!-- The main post tile -->
{% block title %}
		{{ post.post_title }}
{% endblock %}

<!-- The main post content to be injected -->
{% block content %}
	<!-- The main content of the body -->
	<div class="col-md-12">
		<h1>{{ post.post_title }}</h1>
		<hr>
		<p class="date">
            Published {{ post.publish }} by {{ post.post_author }} | Post Views {{ post.post_views }} | Tags: {{ post.post_tags }}
        </p>
        <div class="col-md-12"  id="blog-post-detail">
            {% if post.post_images %}
                <img class="img-responsive" src="/media/{{ post.post_images }}">
            {% endif %}
        </div>

        <br />

        <div class="col-md-12">
            {{ post.post_body|linebreaks }}
        </div>

        <br />

        {% if user.is_authenticated %}
            <button type="button" class="btn btn-warning" onclick="location.href='{% url 'edit_post' post.slug %}'">Edit Post</button>
        {% endif %}
        <button class="btn btn-default" onclick="location.href='{% url 'blog_post_list' %}'">Back To Blog</button>
        <!-- load disqus tags and comment begin -->
        {% load disqus_tags %}
        {% set_disqus_title post.post_title %}
        {% disqus_show_comments %}
        <!-- load disqus tags and comment end -->
    </div>
{% endblock %}
<!-- end block content injection -->


