<!-- tell django we wish to extend the base.html file -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Page Title Begin -->
{% block title %}
    Gamers Hub Blog
{% endblock %}
<!-- Page Title End -->

<!-- The main content we wish to inject -->
{% block content %}
    <div id="blog-post-content">
        
        <!-- Blog Post List Heading Begin -->
        <h1>Gamers Hub Blog</h1>
        <!-- Blog Post List Heading End -->

        <!-- Here we create a for block to loop through all the blog posts and return them by absolute URL and post title -->
        {% for post in  blog_posts %}
            <!-- Blog Post List Container Begin -->
            <div class="col-sm-12 col-md-4 col-lg-4 blog-post-container">

                <!-- Blog Post Thumbnail Begin -->
                <div id="blog-post-thumb-container">
                    <!-- add an image to the post preview for a nice touch -->
                    <a href="{{ post.get_absolute_url }}">
                        {% load thumbnail %}
                        {% thumbnail post.post_images "500x300" crop="center" format="PNG" as im %}
                        {% if post.post_images %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% else %}
                            <img src="http://via.placeholder.com/500x300" alt="blog-post-thumbs">
                        {% endif %}
                        {% endthumbnail %}
                    </a>
                </div>
                <!-- Blog Post Thumbnail End -->

                <!-- Blog Post Published Date Begin -->
                <p class="date">
                    Published {{ post.published_date }}
                </p>
                <!-- Blog Post Published Date End -->

                <!-- Blog Post Author Begin -->
                <p class="date">
                    by {{ post.post_author }} | Post Views {{ post.post_views }}
                </p>
                <!-- Blog Post Author End -->

                <hr>

                <!-- Blog Post Title Begin -->
                <div id="blog-post-title">
                    <a href="{{ post.get_absolute_url }}">
                        <h5>{{ post.post_title }}</h5>
                    </a>
                </div>
                <!-- Blog Post Title End -->

                <!-- Blog Post Preview Begin -->
                <div id="blog-post-preview">
                    <!-- Here we wish to truncate the post content as it is a preview -->
                    <p>{{ post.post_body|truncatewords:30|linebreaks }}</p>
                </div>
                <!-- Blog Post Preview End -->

                <!-- Read More Btn Begin -->
                <div id="blog-post-preview-btn">
                    <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ post.get_absolute_url }}'">Read More</button>
                </div>
                <!-- Read More Btn End -->

                <br />

            </div>
            <!-- Blog Post List Container Begin -->
        {% endfor %}
        <!-- End for block -->

        <!-- Pagination Begin -->
        <div class="col-md-12 pagination">
            {% include "gamersblog/blogposts/blogpostpagination.html" with page=blog_posts %}
        </div>
        <!-- Pagination End -->
    </div>
{% endblock %}
<!-- Main content injection end -->
