* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-fluid {
  /* Set a specified height, or the minimum height for the background image */
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Redeclare since we override the float above */

.navbar {
  border-bottom: solid;
  border-width: thin;
  border-color: #777;
  margin: auto;
}

.navbar li {
  padding-left: 0;
}

.navbar-nav.navbar-right {
  float: right;
}

.navbar ul li a {
  font-size: 1.2em;
}

.navbar-brand img {
  vertical-align: middle;
}

#navbar-btn .btn {
  vertical-align: middle;
}

p {
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}

p.date {
  color: #ccc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    georgia, serif;
  font-size: 12px;
  font-style: italic;
}

[class*="col-"] {
  margin: 0;
}

#login-img,
#loggedout-img {
	position: fixed;
	background: url("/static/img/login-page/borderlands-two.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	top: 0;
	left: 0;
	opacity: 0.9;
}

#login-form,
#loggedout-form {
	background-color: rgba(255, 251, 251, 0.767);
  color: #fa921a;
  border-radius: 20px;
	width: 400px;
	height: auto;
	margin: auto;
	text-align: center;
  margin-top: 250px;
  padding: 20px;
}

#login-form h1, #loggedout-form h1,
#login-form p, #loggedout-form p {
	-webkit-text-fill-color: #fa911aa1; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #111;
  padding: 5px;
}

#homepage-img {
	/* Preserve aspet ratio */
	min-width: 100%;
	height: 450px;
	margin: auto;
	top: 0;
	left: 0;
	opacity: 0.9;
  margin-bottom: 10px;
}

#homepage-logo img {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 45%;
  margin-left: -150px;
  margin-top: -155px;
}

#homepage-h1 {
  position: absolute;
  width: 100%;
  left: 13.5px;
  top: 20%;
}

#homepage-h1 span {
  color: white;
  font: bold 24px/45px "Franklin Gothic Medium", "Helvetica", "Sans-Serif";
  letter-spacing: -1px;
  background: reg(0, 0, 0); /*fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
}

#blog-post-content {
  text-align: center;
}

#blog-post-content img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#blog-post-title {
  min-height: 60px;
}

#blog-post-title h2 {
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

#blog-post-preview {
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#blog-post-content p {
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif, georgia,
    serif;
}

#blog-post-title a,
#blog-post-content a {
  text-decoration: none;
}

.pagination {
  margin: 10px 0;
  font-weight: bold;
}

.footer {
  position: absolute;
  height: 60px;
  background-color: #f5f5f5;
  bottom: 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* Responsive Breakpoint Design Elements */

/* Extra small devices (phones, etc. less than 768px) */
/* No media query since this is the default in Bootstrap */
/* So we will make our own custom to handle these devices */
@media screen and (min-width: 278px) and (max-width: 400px) {
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
}

/* Small devices (tablets, etc.) */
@media screen and (min-width: 401px) and (max-width: 768px) {
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
}

/* Medium devices (desktops, 769px and up) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
}

/* Large devices (large desktops, 993px and up) */
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
}

/* Even larger devices (ott desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
}
