<!-- Tell django we wish to extend the Base.html file -->
{% extends "gamershub/base.html" %}

<!-- Sets the main site title -->
{% block title %}Log-in{% endblock %} {% block bg-img %}
<div id="login-img" class="col-md-12">
	{% endblock %}

	<!-- start our login page content injection -->
	{% block content %}
	<div id="login-form">
		<h1>Gamers Hub Login</h1>
		<p>Please login using the form below</p>
		<form action="." method="post">
			{{ form.as_p }}
			<!-- CSRF protection -->
			{% csrf_token %}
			<button class="btn btn-default" type="submit" value="Login">Login</button>
		</form>
	</div>
</div>
{% endblock %}
