<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Sets the main site title -->
{% block title %}
    Profile
{% endblock %}

<!-- start our login page content injection -->
{% block content %}
    <div class="col-md-12">
        <div id="profile-img-container">
            <h1>{{ user.get_username }}'s Profile</h1>
            {% if user.profile.profile_image  %}
                <img id="profile-img" src="{{ user.profile.profile_image.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
            {% else %}
                <img id="profile-img" src="http://via.placeholder.com/200x200" alt="{{ user.first_name }} {{ user.last_name }}">
            {% endif %}
        </div>

        <div id="user-details-container">

            <h2 id="profile-text">
                Welcome to your profile
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    {{ user.get_username }}
                {% endif %}
            </h2>


            {% if user.profile.date_of_birth %}
            <p>
                Date of Birth: {{ user.profile.date_of_birth }}
            </p>
            {% else %}
            <p>
                Date of Birth: Not Entered
            </p>
            {% endif %}

            {% if user.profile.about_me %}
            <p>
                About Me:
                <p>
                    {{ user.profile.about_me }}
                </p>
            </p>
            {% else %}
            <p>
                About Me:
                <p>
                    Not Entered
                </p>
            </p>
            {% endif %}

        </div>

        <div id="profile-links-container">
            <a href="{% url 'new_post' %}">Write a blog post</a>
            <br />
            <a href="{% url 'edit-profile' %}">Edit your profile</a>
            <br />
            <a href="{% url 'password_change' %}">Change your password</a>
            <br />
        </div>
    </div>
{% endblock %}
