<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Sets the main site title -->
{% block title %}
    Profile
{% endblock %}

<!-- start our login page content injection -->
{% block content %}
    <div class="row">
        <div class="col-md-12" id="profile-img-container">
            {% load thumbnail %}
            {% thumbnail user.profile.profile_image "300x300" as im %}
            {% if user.profile.profile_image %}
                <img src="{{ im.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
            {% else %}
                <img src="http://via.placeholder.com/200x200" alt="{{ user.first_name }} {{ user.last_name }}">
            {% endif %}
            {% endthumbnail %}
        </div>
        <div class="col-md-12" id="profile-heading">
            <h1>{{ user.get_username.upper }}'s Profile</h1>
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'edit-profile' %}'">Edit Profile</button>
            <button type="button" class="btn btn-info" onclick="location.href='{% url 'new_post' %}'">Write Blog Post</button>
            <button type="button" class="btn btn-warning" onclick="location.href='{% url 'password_change' %}'">Change Password</button>
        </div>
    </div>

    <div class="row" id="profile-container">
        <div class="col-md-12">
            <div id="welcome-msg-container">
                <h2 id="welcome-msg-text">
                    Welcome to your profile
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.get_username }}
                    {% endif %}
                </h2>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12" id="user-social">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website
                    <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body">
                    {{ user.profile.personal_site_url|urlize }}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3" id="user-details-profile">
        <!--left col-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile
            </div>
            <ul class="list-group">
                <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>
                                Date of birth:
                            </strong>
                        </span>
                        {% if user.profile.date_of_birth %}
                            {{ user.profile.date_of_birth }}
                        {% else %}
                            Not Entered
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>
                                Full Name:
                            </strong>
                        </span>
                        {% if user.first_name and user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% elif user.first_name and not user.last_name %}
                            {{ user.first_name }}
                        {% else %}
                            Not Entered
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>
                                Favourite Game:
                            </strong>
                        </span>
                        {% if user.profile.fave_game %}
                            {{ user.profile.fave_game }}
                        {% else %}
                            Not Entered
                        {% endif %}
                    </li>
            </ul>
        </div>
    </div>

        <div class="col-sm-6 col-md-6 col-lg-9" id="user-about-me">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if user.first_name %}
                        {{ user.first_name }}'s Bio
                    {% else %}
                        {{ user.get_username }}'s Bio
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% if user.profile.about_me %}
                    <p>
                        {{ user.profile.about_me }}
                    </p>
                    {% else %}
                    <p>
                        Not Entered
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12" id="user-social">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Social Media
                </div>
                <div class="panel-body">
                    {% if user.profile.facebook_url %}
                        <i class="fa fa-facebook">
                            <a href="{{ user.profile.facebook_url }}" target="_blank"> Facebook</a> |
                        </i>
                    {% endif %}
                    {% if user.profile.github_url %}
                        <i class="fa fa-github">
                            <a href="{{ user.profile.github_url }}" target="_blank"> Github</a> |
                        </i>
                    {% endif %}
                    {% if user.profile.twitter_url %}
                        <i class="fa fa-twitter">
                            <a href="{{ user.profile.twitter_url }}" target="_blank"> Twitter</a> |
                        </i>
                    {% endif %}
                    {% if user.profile.google_plus_url %}
                        <i class="fa fa-google-plus">
                            <a href="{{ user.profile.google_plus_url }}" target="_blank"> Google +</a> |
                        </i>
                    {% endif %}
                    {% if user.profile.youtube_url %}
                        <i class="fa fa-youtube">
                            <a href="{{ user.profile.youtube_url }}" target="_blank"> YouTube</a>
                        </i>
                    {% endif %}
                    {% if not user.profile.facebook_url and user.profile.github_url and user.profile.youtube_url and user.profile.twitter_url and user.profile.google_plus_url and user.profile.youtube_url %}
                        Not Entered
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
