<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

<!-- Page Title Begin -->
{% block title %}
	Create An Account
{% endblock %}
<!-- Page Title End -->

<!-- start our login page content injection -->
{% block content %}
	<!-- Custom Form Container Begin -->
	<div class="custom-form-container col-md-12">

		<!-- Page Heading Begin -->
		<h1>Create An Account</h1>
		<!-- Page Heading End -->

		<hr>

		<!-- Page Image Begin -->
		<img class="borderlands-img" src="{% static 'img/login-page/borderlands-two.jpg' %}">
		<!-- Page Image End -->

		<hr>
		
		<!-- Custom Form Begin -->
		<div class="custom-form">
			<p>Sign up to Gamers Hub using the below form:</p>

			<br />
			
			<form action="." method="post">
				{{ user_form|as_bootstrap }}
				<!-- CSRF protection -->
				{% csrf_token %}
				<button class="btn btn-default" type="submit" value="Create an account">Create</button>
				<button class="btn btn-default" type="reset" value="Reset">Reset</button>
			</form>
		</div>
		<!-- Custom Form End -->
	</div>
	<!-- Custom Form Container End -->
{% endblock %}

 <!-- Inject any needed JS files -->
 {% block body_js %}
    <!-- Link to our custom JS file for login & register autofocus -->
    <script src="{% static 'js/autofocus.js' %}" type="text/javascript"></script>
 {% endblock %}
 <!-- JS Injection End-->
