<!-- Tell Django we want to extend the Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}

{% block title %}
	Logged out
{% endblock %}

{% block content %}
	<div class="custom-form-container col-md-12">

		<h1>Logged out</h1>

		<img class="borderlands-img" src="{% static 'img/login-page/borderlands-two.jpg' %}">

		<div class="custom-form">
			<p>
				Thank You for visiting Gamers Hub.
			<br  />
				You have successfully logged out.
			</p>
			<p>
				<a href="{% url "login" %}">Log back in ?</a>
			</p>
		</div>
	</div>
{% endblock %}
