<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}

<!-- Sets the main site title -->
{% block title %}
    Login
{% endblock %}

<!-- start our login page content injection -->
{% block content %}
    <div class="col-md-12 borderlands-img">
        <div class="custom-form">
            <h1>Gamers Hub Login</h1>
            {% if form.errors %}
                <p>
                    Sorry, the username did not match.
                    Please try again.
                </p>
            {% else %}
                <p>
                    Please login using the form below.
                <br />
                    If you don't have an account with us please <a href="{% url "register" %}">register</a>:
                </p>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                <!-- CSRF protection -->
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-default" type="submit" value="Login">Login</button>
                <button class="btn btn-default" type="reset" value="Reset">Reset</button>
            </form>
            <br />
            <p><a href="{% url "password_reset" %}">Forgotten Password ?</a></p>
        </div>
    </div>
 {% endblock %}
