<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

<!-- Sets the main site title -->
{% block title %}
    Login
{% endblock %}

<!-- start our login page content injection -->
{% block content %}
    <div class="custom-form-container col-md-12">
        <h1>Gamers Hub Login</h1>

        <img class="borderlands-img" src="{% static 'img/login-page/borderlands-two.jpg' %}">

        <div class="custom-form">
            {% if form.errors %}
                <p>
                    Sorry, the username did not match.
                    Please try again.
                </p>
            {% else %}
                <p>
                    Please login using the form below.
                </p>
                <br />
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {{ form|as_bootstrap }}
                <!-- CSRF protection -->
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-default" type="submit" value="Login">Login</button>
                <button class="btn btn-default" type="reset" value="Reset">Reset</button>
            </form>
            <br />
            <p><a href="{% url "password_reset" %}">Forgotten Password ?</a></p>
            <br />
            <p>If you don't have an account with us please <a href="{% url "register" %}">register</a>:</p>
        </div>
        
    </div>
 {% endblock %}
