<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

<!-- Page Title Begin -->
{% block title %}
	Reset Password
{% endblock %}
<!-- Page Title End -->

<!-- start our password reset form page content injection -->
{% block content %}
	<!-- Custom Form Container Begin -->
	<div class="custom-form-container col-md-12">

		<!-- Page Heading Begin -->
		<h1>Forgotten Password?</h1>
		<!-- Page Heading End -->

        <hr>

        <!-- Page Image Begin -->
        <img class="borderlands-img" src="{% static 'img/login-page/borderlands-two.jpg' %}">
        <!-- Page Image End -->

        <hr>
		
		<!-- Custom Form Begin -->
        <div class="custom-form">
			<p>Enter your email address to receive a new password.</p>

			<br>

			<!-- Form Fields Begin -->
			<form action="." method="post">
				{{ form|as_bootstrap }}
				<button class="btn btn-warning" type="submit" value="Send e-mail">Send</button>
				<button class="btn btn-warning" type="reset" value="Reset">Reset</button>
				<!-- CSRF protection -->
				{% csrf_token %}
			</form>
			<!-- Form Fields Begin -->
		</div>
		<!-- Custom Form End -->
	</div>
	<!-- Custom Form Container End -->
{% endblock %}
