{% extends "gamershub/base.html" %}

{% block title %}
	Change you password
{% endblock %}

{% block content %}
<div class="borderlands-img">
		<div class="custom-form">
			<h1>Change Password</h1>
			<p>You can use the below form to change your password.</p>
			<form action="." method="post">
				{{ form.as_p }}
				<button class="btn btn-default" type="submit" value="Change">Change</button>
				<button class="btn btn-default" type="reset" value="Reset">Reset</button>
				{% csrf_token %}
			</form>
		</div>
    </div>
{% endblock %}
