<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

<!-- Sets the main site title -->
{% block title %}
    Reset Password
{% endblock %}

<!-- start our password reset confirm page content injection -->
{% block content %}
    <!-- Custom Form Container Begin -->
    <div class="custom-form-container col-md-12">

        <!-- Page Heading Begin -->
        <h1>Reset Password</h1>
        <!-- Page Heading End -->

        <hr>

        <!-- Page Image Begin -->
		<img class="borderlands-img" src="{% static 'img/login-page/borderlands-two.jpg' %}">
        <!-- Page Image End -->
        
        <hr>

        <!-- Custom Form Begin -->
        <div class="custom-form">
            <!-- Validation Check Begin -->
            {% if validlink %}
                <p>Please enter a new password.</p>

                <br>

                <!-- Form Fields Begin -->
                <form action="." method="post">
                    {{ form|as_bootstrap }}
                    <!-- CSRF protection -->
                    {% csrf_token %}
                    <button class="btn btn-warning" type="submit" value="Change Password">Change Password</button>
                </form>
                <!-- Form Fields End -->
            {% else %}
                <p>
                    Sorry the link is invalid, this could be because it has already been used!
                    Please request another reset password link. Thank You!
                </p>
            {% endif %}
            <!-- Validation Check End -->
        </div>
        <!-- Custom Form End -->
    </div>
    <!-- Custom Form Container End -->
{% endblock %}
