<!-- Tell Django we want to extend Base.html -->
{% extends "gamershub/base.html" %}
{% load bootstrap_tags %}

<!-- Sets the main site title -->
{% block title %}
	Change you password
{% endblock %}

<!-- start our password change page content injection -->
{% block content %}
<div class="col-md-12  borderlands-img">
		<div class="custom-form">
			<h1>Change Password</h1>
			<p>You can use the below form to change your password.</p>
			<br />
			<form action="." method="post">
				{{ form | as_bootstrap }}
				<button class="btn btn-default" type="submit" value="Change">Change</button>
				<button class="btn btn-default" type="reset" value="Reset">Reset</button>
				<!-- CSRF protection -->
				{% csrf_token %}
			</form>
		</div>
    </div>
{% endblock %}
