<!-- Tell Django we want to load the static files -->
{% load staticfiles %}
<DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head;
             any other head content must come *after* these tags -->

        <meta name="TODO SHORT META DESCRIPTION HERE" content="TODO SHORT CONTENT HERE">
        <meta name="David Gunner Jnr" content="TODO SHORT CONTENT HERE">

        <!-- Main Site Title -->
        <title>{% block title %}{% endblock %}</title>

        <!--<link href="#" rel="stylesheet">-->

        <!-- Link to our custom stylesheet -->
        <link href="{% static "css/gamershub.css" %}" rel="stylesheet">

        {% block head_js %}{% endblock %}
    </head>
    <body>
        <!-- Here we inject the content we want to display -->
        {% block content %}
        {% endblock %}
        <!-- End content injection here -->

        <!-- Here we inject the content we want to display
            at present only the blog has a sidebar -->
        {% block sidebar %}
        {% endblock %}
        <!-- End content injection here -->
    </body>
</html>
