{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Sets the main site title -->
{% block title %}
    Products
{% endblock %}

{% block content %}
    <h1>Gamers Hub Shop</h1>

    <div id="product-content">
        <!-- The main content of the body -->

        {% for product in products %}
        <div class="col-sm-4 col-md-4 col-lg-4 product-container">
            <div class="product-thumb">
                <!-- add an image to the post preview for a nice touch -->
                <a href="{{ product.get_absolute_url }}">
                    {% load thumbnail %}
                    {% thumbnail product.product_images "300x300" crop="center" as im %}
                    {% if product.product_images  %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% else %}
                        <img src="http://via.placeholder.com/200x200">
                    {% endif %}
                    {% endthumbnail %}
                </a>
            </div>

            <div id="product-name">
                <h3>
                    <a href="{{ product.get_absolute_url }}">
                        {{ product.name }}
                    </a>
                </h3>
            </div>

            <div id="product-description">
                <a href="{{ product.get_absolute_url }}">
                    <!-- Here we wish to truncate the post content as it is a preview -->
                    <p>{{ product.description|truncatewords:50|linebreaks }}</p>
                </a>
            </div>

            <hr>

            <div id="product-price-and-buy-btn">
                <p id="product-price">${{ product.price }}</p>
                <p id="product-buy-btn">{{ product.paypal_form.sandbox }}</p>
            </div>
        </div>
            {% endfor %}


            <div class="col-md-12">
                {% include "products/productlistpagination.html" with page=products %}
            </div>
    </div>
{% endblock %}