{% extends "gamershub/base.html" %}
{% load staticfiles %}

<!-- Sets the main site title -->
{% block title %}
    Products
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="product-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Product Name and Description</th>
                    <th>Price</th>
                    <th>Purchase</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        {% if product.product_images  %}
                            <td><img class="img-square img-responsive product-img" src="{{ product.product_images.url }}"></td>
                        {% else %}
                            <td><img class="img-square img-responsive product-img" src="http://via.placeholder.com/200x200"></td>
                        {% endif %}
                        <td id="product-name-and-description">
                            <h6>{{ product.name }}</h6>
                            <hr>
                            <p>{{ product.description }}</p>
                        </td>
                        <td id="product-price">${{ product.price }}</td>
                        <td id="product-buy-btn">{{ product.paypal_form.sandbox }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-12">
            {% include "products/productlistpagination.html" with page=products %}
        </div>
    </div>
</div>
{% endblock %}
